# COMMON ===================
pytest
requirements-checker
object-info

# ========================================
# SPECIAL FOR THIS PROJECT ---------------
PyQt5       # for threads
PyYAML      # yaml
aiohttp
requests

# ========================================
