# COMMON ===================
pytest
requirements-checker
object-info

# ========================================
# SPECIAL FOR THIS PROJECT ---------------
PyYAML      # yaml
aiohttp
PyQt5

# ========================================
